<!-- Events Section -->
<section id="events" class="content-section">
    <div class="events-section">
        <div class="container text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 ng-bind="'EVENTS_TITLE' | translate | templateValues: events.events.length"></h2>
            </div>
        </div>
        <ui-gmap-google-map center='events.map.center'
                            zoom='events.map.zoom'
                            options='events.mapOptions'
                            events='events.map.events'>
            <ui-gmap-markers
                    models='events.mapMarkers'
                    idKey='id'
                    modelsbyref="true"
                    icon="'icon'"
                    coords="'location'"
                    chunk="100"
                    events="'events'">
            </ui-gmap-markers>
            <ui-gmap-window
                    coords="events.selectedMarker.location"
                    show="events.showWindow" ng-cloak>
                    <div class="event-window text-center">
                        {{events.selectedMarker | appTranslate: 'name'}}
                        <br/>
                        <span translate="EVENT_WINDOW_CLICK"></span>
                    </div>
            </ui-gmap-window>
        </ui-gmap-google-map>
        <div class="container">
            <div class="col-lg-4">
                <h3 ng-bind="'EVENTS_WEATHER_TITLE' | translate"></h3>
                <div class="row">
                    <div class="col-md-4 panel weather-block" ng-repeat="forecast in ::events.weather.list">
                        <div class="text-center">
                            <h5 class="accentuate" ng-bind="events.convertDtToDay(forecast.dt) | translate"></h5>
                            <span ng-bind="events.convertToCelsiusAndRound(forecast.temp.day)"></span> <span>&deg;C</span>
                            <br/>
                            <span ng-bind="events.getWeatherByCode(forecast.weather[0].id) | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 ng-bind="'EVENTS_LIST_TITLE' | translate"></h3>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="categoryFilter" class="col-md-3 control-label accentuate"><span translate="EVENTS_FILTER_BY_CATEGORY"></span></label>
                        <div class="col-md-9">
                            <select id="categoryFilter"
                                    name="categoryFilter"
                                    class="form-control"
                                    ng-model="events.selectedCategory"
                                    ng-options="(category | appTranslate:'name') for category in events.categories track by category.id"
                                    ng-change="events.filterEventsByCategory(events.selectedCategory)">
                                <!--category as (category | appTranslate:'name') for category in events.categories-->
                                <option value=""><span> {{'EVENTS_CATEGORY_DEFAULT' | translate}} </span></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-repeat="event in events.events
                     | paginationOffset: (events.pagination.events - 1) * events.pagination.size
                     | limitTo: events.pagination.size"
                     class="panel panel-transparent-with-border">
                    <div class="panel-body media">
                        <div class="media-left">
                            <img ng-src="{{event.icon}}" alt="" class="media-object"/>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading accentuate" ng-bind="event | appTranslate: 'name'"></h4>
                            <strong class="accentuate" translate="EVENT_CATEGORY"></strong> <small ng-bind="(event.category | appTranslate: 'name')"></small>
                            <br/>
                            <strong class="accentuate" translate="EVENT_RATING"></strong>
                            <rating ng-if="event.averageRating"
                                    ng-model="event.averageRating"
                                    max="5"
                                    readonly="true"></rating>
                            <small ng-if="!event.averageRating" translate="EVENT_NO_RATING"></small>
                            <br/>
                            <div class="btn-toolbar pull-right">
                                <button class="btn btn-primary" ng-click="events.showOnMap(event)">
                                    <span class="glyphicon glyphicon-arrow-up"></span> <span translate="EVENT_SHOW_ON_MAP"></span>
                                </button>
                                <button class="btn btn-primary" ng-click="events.openDetailsModal(event, $index)">
                                    <span class="fa fa-list"></span> <span translate="EVENT_SHOW_DETAILS"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination total-items="events.events.length"
                            ng-model="events.pagination.events"
                            class="pagination pagination-custom"
                            items-per-page="events.pagination.size"
                            max-size="events.paginationOptions.maxSize"
                            rotate="events.paginationOptions.rotate"
                            boundary-links="events.paginationOptions.boundaryLinks"
                            previous-text="{{'PAGINATION_PREVIOUS' | translate}}"
                            next-text="{{'PAGINATION_NEXT' | translate}}"
                            first-text="{{'PAGINATION_FIRST' | translate}}"
                            last-text="{{'PAGINATION_LAST' | translate}}"></pagination>
            </div>
        </div>
    </div>
</section>