<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" header-collapse>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <div class="logo">Event spotter</div>
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a scroll-to="About" class="clickable"><span translate="NAV_ABOUT"></span></a>
                </li>
                <li ng-show="!app.isAuthenticated()">
                    <a ng-click="app.openAuthModal()" class="clickable"><span translate="NAV_LOGIN_OR_REGISTER"></span></a>
                </li>
                <li dropdown ng-show="app.isAuthenticated()">
                    <a class="clickable" dropdown-toggle>
                        <span class="glyphicon glyphicon-user"></span> <span ng-bind="app.getUsername()"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="menuitem" >
                            <a class="clickable" ng-click="app.openAuthModal()" translate="NAV_USER_PROFILE"></a>
                        </li>
                        <li role="menuitem" >
                            <a class="clickable" ng-click="app.openMyFavoritesModal()" translate="NAV_USER_FAVORITES"></a>
                        </li>
                        <li role="menuitem" >
                            <a class="clickable" ng-click="app.openMyEventsModal()" translate="NAV_USER_MY_EVENTS"></a>
                        </li>
                    </ul>
                </li>
                <li ng-show="app.isAuthenticated()">
                    <a ng-click="app.logout()" class="clickable"><span translate="NAV_LOGOUT"></span></a>
                </li>
                <li>
                    <a scroll-to="Organize-event" class="clickable"><span translate="NAV_ORGANIZE_EVENT"></span></a>
                </li>
                <li dropdown>
                    <a class="clickable" dropdown-toggle><span translate="NAV_LANGUAGE"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="menuitem" ng-repeat="language in ::app.languages">
                            <a class="clickable" ng-click="app.language(language.locale)" ng-bind="language.name"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <preload></preload>

    <!-- Alert Container -->
    <div class="alert-container">
        <alert class="alert-item" ng-repeat="alert in app.alerts" type="{{alert.type}}" close="alert.close()" template-url="templates/components/alert.html">
            <span ng-if="alert.message" ng-bind="alert.message"></span>
            <span ng-if="alert.translate" translate="{{alert.translate}}"></span>
        </alert>
    </div>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><span translate="INTRO_TITLE"></span></h1>

                        <p class="intro-text"><span translate="INTRO_TEXT"></span></p>

                        <a class="btn btn-success btn-lg clickable" scroll-to="About"><span class="fa fa-question-circle"></span> <span translate="INTRO_ABOUT"></span></a>
                        <span translate="INTRO_OR"></span>
                        <a class="btn btn-primary btn-lg clickable" ng-click="app.getLocationAndRedirectToEvents()" ><span class="fa fa-map-marker"></span> <span translate="INTRO_EVENTS"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div scroll-target="About">
        <div ui-view="about"></div>
    </div>

    <div scroll-target="Events">
        <div ui-view="events"></div>
    </div>

    <div scroll-target="Organize-event">
        <div ui-view="organize-event"></div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <!--<p>Matija Lovreković 2015</p>-->
            <ul class="nav navbar-nav">
                <li>
                    <a scroll-to="About" class="clickable"><span translate="NAV_ABOUT"></span></a>
                </li>
                <li ng-show="!app.isAuthenticated()">
                    <a ng-click="app.openAuthModal()" class="clickable"><span translate="NAV_LOGIN_OR_REGISTER"></span></a>
                </li>
                <li ng-show="app.isAuthenticated()">
                    <a ng-click="app.logout()" class="clickable"><span translate="NAV_LOGOUT"></span></a>
                </li>
                <li>
                    <a scroll-to="Organize-event" class="clickable"><span translate="NAV_ORGANIZE_EVENT"></span></a>
                </li>
            </ul>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <p>Map icons by <a href="https://mapicons.mapsmarker.com/">Map Icons Collection</a></p>
                    <p>Website images provided by <a href="http://www.freeimages.com">Freeimages</a></p>
                    <p>Website template provided by <a href="http://startbootstrap.com/template-overviews/grayscale/">Start Bootstrap</a></p>
                </div>
            </div>
        </div>
    </footer>