<form novalidate name="form">
    <div class="form-group">
        <label for="username"><span translate="LOGIN_USERNAME"></span>:</label>
        <input type="text" id="username" name="username" ng-model="formData.username" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password"><span translate="LOGIN_PASSWORD"></span></label>
        <input type="password" name="password" id="password" ng-model="formData.password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="login()"><span translate="LOGIN_LOGIN"></span></button>
    <button type="button" class="btn btn-warning" ng-click="cancel()"><span translate="LOGIN_BACK"></span></button>
</form>