<form novalidate name="form">
    <div class="form-group" ng-class="{ 'has-error': form.firstName.$invalid }">
        <label for="firstName"><span translate="REGISTER_FIRST_NAME"></span></label>
        <input type="text"
               name="firstName"
               id="firstName"
               ng-model="formData.firstName"
               class="form-control"
               ng-pattern="/[a-zA-Z]{2,50}/" />
        <div ng-messages="form.firstName.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.lastNameOrTitle.$invalid }">
        <label for="lastNameOrTitle"><span translate="REGISTER_LAST_NAME_OR_TITLE"></span></label>
        <input type="text"
               name="lastNameOrTitle"
               id="lastNameOrTitle"
               ng-model="formData.lastNameOrTitle"
               class="form-control"
               required
               ng-pattern="/[a-zA-Z]{2,50}/" />
        <div ng-messages="form.lastNameOrTitle.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.username.$invalid }">
        <label for="username"><span translate="REGISTER_USERNAME"></span>:</label>
        <input type="text"
               id="username"
               name="username"
               ng-model="formData.username"
               class="form-control"
               required
               ng-pattern="/^[a-zA-Z][a-zA-Z0-9]{3,20}$/" />
        <div ng-messages="form.username.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid }">
        <label for="password"><span translate="REGISTER_PASSWORD"></span></label>
        <input type="password"
               name="password"
               id="password"
               ng-model="formData.password"
               class="form-control"
               required
               minlength="6"
               maxlength="20" />
        <div ng-messages="form.password.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$invalid }">
        <label for="confirmPassword"><span translate="REGISTER_CONFIRM_PASSWORD"></span></label>
        <input type="password"
               name="confirmPassword"
               id="confirmPassword"
               ng-model="otherData.confirmPassword"
               class="form-control"
               required
               confirm-password="formData.password"
               minlength="6"
               maxlength="20" />
        <div ng-messages="form.confirmPassword.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.email.$invalid }">
        <label for="email"><span translate="REGISTER_EMAIL"></span></label>
        <input type="text"
               name="email"
               id="email"
               ng-model="formData.email"
               class="form-control"
               required
               ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/" />
        <div ng-messages="form.email.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.showEmail.$invalid }">
        <input type="checkbox" name="showEmail" id="showEmail" ng-model="formData.showEmail"/>
        <label for="showEmail">
            <span translate="REGISTER_SHOW_EMAIL"></span>
        </label>
        <div ng-messages="form.showEmail.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.phoneNumber.$invalid }">
        <label for="phoneNumber"><span translate="REGISTER_PHONE_NUMBER"></span></label>
        <input type="text"
               name="phoneNumber"
               id="phoneNumber"
               ng-model="formData.phoneNumber"
               class="form-control"/>
        <div ng-messages="form.phoneNumber.$error" ng-messages-include="error-messages"></div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="register()" ng-disabled="form.$invalid"><span translate="REGISTER_REGISTER"></span></button>
    <button type="button" class="btn btn-warning" ng-click="cancel()"><span translate="REGISTER_BACK"></span></button>
</form>