<div class="modal-header">
    <strong class="accentuate" translate="USER_PROFILE_TITLE"></strong>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="profileModal.form" novalidate>
        <div class="form-group">
            <div class="col-md-4 control-label"><strong translate="USER_PROFILE_USERNAME"></strong></div>
            <div class="col-md-8">
                <p class="form-control-static" ng-bind="profileModal.user.username"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': profileModal.form.email.$invalid }">
            <label class="col-md-4 control-label accentuate" for="email" translate="USER_PROFILE_EMAIL"></label>
            <div class="col-md-8">
                <input type="text"
                       id="email"
                       name="email"
                       class="form-control"
                       ng-model="profileModal.user.email"
                       required
                       ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/" />
                <div ng-messages="profileModal.form.email.$error" ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': profileModal.form.showEmail.$invalid }">
            <label class="col-md-4 control-label accentuate" for="showEmail" translate="USER_PROFILE_SHOW_EMAIL"></label>
            <div class="col-md-1">
                <input type="checkbox"
                       id="showEmail"
                       name="showEmail"
                       class="form-control"
                       ng-model="profileModal.user.showEmail"
                        />
                <div ng-messages="profileModal.form.showEmail.$error" ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': profileModal.form.firstName.$invalid }">
            <label class="col-md-4 control-label accentuate" for="firstName" translate="USER_PROFILE_FIRST_NAME"></label>
            <div class="col-md-8">
                <input type="text"
                       id="firstName"
                       name="firstName"
                       class="form-control"
                       ng-model="profileModal.user.firstName"
                       ng-pattern="/[a-zA-Z]{2,50}/" />
                <div ng-messages="profileModal.form.firstName.$error" ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': profileModal.form.lastNameOrTitle.$invalid }">
            <label class="col-md-4 control-label accentuate" for="lastNameOrTitle" translate="USER_PROFILE_LAST_NAME_OR_TITLE"></label>
            <div class="col-md-8">
                <input type="text"
                       id="lastNameOrTitle"
                       name="lastNameOrTitle"
                       class="form-control"
                       ng-model="profileModal.user.lastNameOrTitle"
                       required
                       ng-pattern="/[a-zA-Z]{2,50}/" />
                <div ng-messages="profileModal.form.lastNameOrTitle.$error" ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': profileModal.form.phoneNumber.$invalid }">
            <label class="col-md-4 control-label accentuate" for="phoneNumber" translate="USER_PROFILE_PHONE_NUMBER"></label>
            <div class="col-md-8">
                <input type="text"
                       id="phoneNumber"
                       name="phoneNumber"
                       class="form-control"
                       ng-model="profileModal.user.phoneNumber"
                       />
                <div ng-messages="profileModal.form.phoneNumber.$error" ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <div class="btn-toolbar">
                    <button type="button"
                            class="btn btn-danger"
                            ng-click="profileModal.changePassword = !profileModal.changePassword"
                            translate="USER_PROFILE_CHANGE_PASSWORD"></button>
                </div>
            </div>
        </div>
        <div ng-show="profileModal.changePassword">
            <div class="form-group" ng-class="{ 'has-error': profileModal.form.password.$invalid }">
                <label class="col-md-4 control-label accentuate" for="password" translate="USER_PROFILE_NEW_PASSWORD"></label>
                <div class="col-md-8">
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           ng-model="profileModal.user.password"
                           ng-required="profileModal.changePassword"
                           minlength="6"
                           maxlength="20" />
                    <div ng-messages="profileModal.form.password.$error" ng-messages-include="error-messages"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': profileModal.form.confirmPassword.$invalid }">
                <label class="col-md-4 control-label accentuate" for="confirmPassword" translate="USER_PROFILE_CONFIRM_PASSWORD"></label>
                <div class="col-md-8">
                    <input type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           class="form-control"
                           ng-model="profileModal.confirmPassword"
                           ng-required="profileModal.changePassword"
                           minlength="6"
                           maxlength="20"
                           confirm-password="profileModal.user.password"
                           disable-confirm="!profileModal.changePassword" />
                    <div ng-messages="profileModal.form.confirmPassword.$error" ng-messages-include="error-messages"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <div class="btn-toolbar">
                    <button type="submit"
                            class="btn btn-success"
                            ng-click="profileModal.update()"
                            ng-disabled="profileModal.form.$invalid"
                            translate="USER_PROFILE_UPDATE"></button>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-warning" ng-click="profileModal.cancel();"><span class="glyphicon glyphicon-arrow-left"></span> <span class="text-bold" translate="USER_PROFILE_BACK"></span></button>
    </div>
</div>