<div class="modal-header">
    <strong class="accentuate" translate="MY_FAVORITES_TITLE"></strong>
</div>
<div class="modal-body">
    <div ng-show="myFavoritesModal.events.length === 0" class="text-center">
        <strong class="accentuate" translate="MY_FAVORITES_NO_FAVORITES"></strong>
    </div>
    <div ng-repeat="event in myFavoritesModal.events
                     | paginationOffset: (myFavoritesModal.pagination.events - 1) * myFavoritesModal.pagination.size
                     | limitTo: myFavoritesModal.pagination.size"
         class="panel panel-transparent-with-border">
        <div class="panel-body">
            <h4 class="accentuate" ng-bind="::event | appTranslate: 'name'"></h4>
            <strong class="accentuate" translate="EVENT_CATEGORY"></strong> <small ng-bind="(event.category | appTranslate: 'name')"></small>
            <br/>
            <div class="btn-toolbar pull-right">
                <button class="btn btn-primary" ng-click="myFavoritesModal.openDetailsModal(event)">
                    <span class="fa fa-list"></span> <span translate="MY_FAVORITES_DETAILS"></span>
                </button>
                <button class="btn btn-danger" ng-click="myFavoritesModal.removeFromFavorites(event)">
                    <span class="glyphicon glyphicon-remove"></span> <span translate="MY_FAVORITES_REMOVE"></span>
                </button>
            </div>
        </div>
    </div>
    <pagination ng-show="myFavoritesModal.events.length > 0" total-items="myFavoritesModal.events.length"
                ng-model="myFavoritesModal.pagination.events"
                class="pagination pagination-custom"
                items-per-page="myFavoritesModal.pagination.size"
                max-size="myFavoritesModal.paginationOptions.maxSize"
                rotate="myFavoritesModal.paginationOptions.rotate"
                boundary-links="myFavoritesModal.paginationOptions.boundaryLinks"
                previous-text="{{'PAGINATION_PREVIOUS' | translate}}"
                next-text="{{'PAGINATION_NEXT' | translate}}"
                first-text="{{'PAGINATION_FIRST' | translate}}"
                last-text="{{'PAGINATION_LAST' | translate}}"></pagination>
</div>
<div class="modal-footer">
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-warning" ng-click="myFavoritesModal.cancel();">
            <span class="glyphicon glyphicon-arrow-left"></span> <span class="text-bold" translate="MY_FAVORITES_BACK"></span>
        </button>
    </div>
</div>