<div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-custom">
        <li role="presentation" ng-class="{active: authModal.tab.login.active}">
            <a ng-click="authModal.activateTab(authModal.TABS.LOGIN)">Login</a>
        </li>
        <li role="presentation" ng-class="{active: authModal.tab.register.active}">
            <a ng-click="authModal.activateTab(authModal.TABS.REGISTER)">Register</a>
        </li>
    </ul>

    <div ng-if="authModal.tab.login.active">
        <login-component cancel="authModal.close()" done="authModal.close()"></login-component>
    </div>
    <div ng-if="authModal.tab.register.active">
        <register-component cancel="authModal.close()" done="authModal.close()"></register-component>
    </div>
</div>