<div class="modal-header">
    <strong class="accentuate" translate="MY_EVENTS_TITLE"></strong>
</div>
<div class="modal-body">
    <div ng-show="myEventsModal.events.length === 0" class="text-center">
        <strong class="accentuate" translate="MY_EVENTS_NO_EVENTS"></strong>
    </div>
    <div ng-repeat="event in myEventsModal.events
                     | paginationOffset: (myEventsModal.pagination.events - 1) * myEventsModal.pagination.size
                     | limitTo: myEventsModal.pagination.size"
         class="panel panel-transparent-with-border">
        <div class="panel-body">
            <h4 class="accentuate" ng-bind="::event | appTranslate: 'name'"></h4>
            <strong class="accentuate" translate="EVENT_CATEGORY"></strong> <small ng-bind="(event.category | appTranslate: 'name')"></small>
            <br/>
            <span ng-bind="event.favoritedCount"></span> <strong class="accentuate" translate="EVENT_FAVORITED_COUNT"></strong>
            <br/>
            <strong class="accentuate" translate="EVENT_RATING"></strong>
            <rating ng-if="event.averageRating"
                    ng-model="::event.averageRating"
                    max="5"
                    readonly="true"></rating>
            <small ng-if="!event.averageRating" translate="EVENT_NO_RATING"></small>
        </div>
    </div>
    <pagination ng-show="myEventsModal.events.length > 0" total-items="myEventsModal.events.length"
                ng-model="myEventsModal.pagination.events"
                class="pagination pagination-custom"
                items-per-page="myEventsModal.pagination.size"
                max-size="myEventsModal.paginationOptions.maxSize"
                rotate="myEventsModal.paginationOptions.rotate"
                boundary-links="myEventsModal.paginationOptions.boundaryLinks"
                previous-text="{{'PAGINATION_PREVIOUS' | translate}}"
                next-text="{{'PAGINATION_NEXT' | translate}}"
                first-text="{{'PAGINATION_FIRST' | translate}}"
                last-text="{{'PAGINATION_LAST' | translate}}"></pagination>
</div>
<div class="modal-footer">
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-warning" ng-click="myEventsModal.cancel();">
            <span class="glyphicon glyphicon-arrow-left"></span> <span class="text-bold" translate="MY_EVENTS_BACK"></span>
        </button>
    </div>
</div>