$default: #fff;
$darker-default: #bababa;
$blue: #5997dc;
$darker-blue: #3d6591;
$green: #42dca3;
$darker-green: #308c65;
$red: #d9534f;
$darker-red: #ac4a47;
$yellow: #f0ad4e;
$darker-yellow: #b5803e;

a, strong {
  color: $blue;
}

.main-view {
  height: 100%;
}

//override intro background
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(../images/city-night.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: scroll;
  background-color: #000;
}

.events-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url(../images/downloads-bg.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

.organize-section {
  width: 100%;
  padding: 50px 0;
}

@media(min-width:767px) {
  .event-section {
    padding: 100px 0;
  }
}

.logo {
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  text-indent: -9999px;
  white-space: nowrap;

  /*
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  */

  -webkit-transition: height .3s ease-in-out, width .3s ease-in-out;
  -moz-transition: height .3s ease-in-out, width .3s ease-in-out;
  -ms-transition: height .3s ease-in-out, width .3s ease-in-out;
  -o-transition: height .3s ease-in-out, width .3s ease-in-out;
  transition: height .3s ease-in-out, width .3s ease-in-out;

}

.top-nav-collapse {
  .logo {
    height: 25px;
    width: 25px;
  }
}

.content-section {
  padding-top: 0px;

  margin-top: 150px;
  margin-bottom: 150px;
}

.clickable {
  cursor: pointer;
}

.angular-google-map-container {
  height: 800px;
  margin-bottom: 15px;
}

.event-details-map-container {
  height: 400px;
  & .angular-google-map-container {
    height: 400px;
    margin-bottom: 15px;
  }
}

.organize-event-map-container {
  height: 300px;
  margin-bottom: 15px;
  & .angular-google-map-container {
    height: 300px;
  }
}

.panel-transparent-with-border {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
  //border-bottom-color: #646464;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pagination-custom {
  li {
    &:first-child, &:last-child {
      & > a, & > span {
        border-radius: 0;
      }
    }
    a {
      background: transparent;
      color: $blue;
      border-color: $blue;

      &:hover {
        background: $blue;
        color: #000;
        border-color: $blue;
      }
    }

    &.disabled a {
      background: transparent;
      color: $darker-blue;
      border-color: $darker-blue;

      &:hover {
        background: transparent;
        color: $darker-blue;
        border-color: $darker-blue;
      }
    }
  }

  .active > a {
    background: $blue;
    color: #000;
    border-color: $blue;

    &:hover {
      background: $blue;
      color: #000;
      border-color: $blue;
    }
  }
}

.accentuate {
  color: $blue;
}

.nav-tabs-custom {
  border-bottom: 1px solid $blue;
  li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    background: transparent;
    &, a {
      color: $blue;
    }

    &.active a, &.active a:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      background: $blue;
      color: #000;

      border: none;
      border-left: 1px solid $blue;
      border-top: 1px solid $blue;
      border-right: 1px solid $blue;


    }

    a:hover {
      background: $blue;
      color: #000;
      border: none;
      border-left: 1px solid $blue;
      border-top: 1px solid $blue;
      border-right: 1px solid $blue;
      border-radius: 0;
    }
  }
}

.footer {
  background: url("../images/dark_mosaic.png");
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.weather-block {
  background-color: transparent;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 150px;
}

.hot {
  color: $red;
}

.cold {
  color: $blue;
}

.normal {
  color: $green;
}

.custom-select {

  select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: transparent;
    color: $blue;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

}

label.custom-select {
  position:relative;
  border: 1px solid $blue;

  &:after {
    //content:'>';
    color:$blue;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    //border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
  }

  &:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:transparent;
    position:absolute;
    pointer-events:none;
    display:block;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .custom-select select {padding-right:18px}
}

.alert-container {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 48%;
  z-index: 9999;
}

.list-group-horizontal  {

  .list-group-item {
    display: inline-block;
    margin-bottom: 0;
    //margin-left: 0;
    margin-right: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .badge {
    margin-left: 5px;

    &.badge-danger {
      background-color: $red;
      color: #000;
    }
  }
}

.tags-container {
  margin-top: 15px;
  width: 100%;
}

.hidden-checkbox[type=checkbox] {
 display: none;

  &:checked + .checkbox-label{
    color: $blue;
  }
}

.checkbox-label {
  color: $default;
}

.days-container {
  margin-top: 15px;
  width: 100%;
}

.day-cb-wrapper {
  display: inline-block;
  padding: 0 5px;
}

.time-divider {
  padding: 35px 0;
  margin: 0;
  text-align: center;
}

.time-divider-wrapper {
  margin-right: -5px;
}

.custom-datepicker {
  background: #000;
}

.location-required-message-wrapper {
  margin-bottom: 35px;
}

.event-window {
  color: #000;
}

.event-data {
  p {
    margin-bottom: 0;
  }
}