$lora-font-path: '../fonts' !default;

@mixin lora-font($type, $weight, $style: normal) {
  @font-face {
    font-family: 'Lora';
    src: url('#{$lora-font-path}/Lora-#{$type}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }

  @font-face {
    font-family: 'Lora-#{$type}';
    src: url('#{$lora-font-path}/Lora-#{$type}.ttf') format('truetype');
  }
}

@mixin lora-font-pair($type, $weight) {
  @include lora-font($type, $weight);
  @include lora-font(#{$type}Italic, $weight, italic);
}

@include lora-font-pair('Regular', 400);
@include lora-font-pair('Italic', 400);
@include lora-font-pair('Bold', 700);
@include lora-font-pair('BoldItalic', 700);