$montserrat-font-path: '../fonts' !default;

@mixin montserrat-font($type, $weight, $style: normal) {
  @font-face {
    font-family: 'Montserrat';
    src: url('#{$montserrat-font-path}/Montserrat-#{$type}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }

  @font-face {
    font-family: 'Montserrat-#{$type}';
    src: url('#{$montserrat-font-path}/Montserrat-#{$type}.ttf') format('truetype');
  }
}

@mixin montserrat-font-pair($type, $weight) {
  @include montserrat-font($type, $weight);
}


@include montserrat-font-pair('Regular', 400);
@include montserrat-font-pair('Bold', 700);
