$blue: #5997dc;

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9000;

  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.loader {
  position: relative;
  top: 50%;
  margin: auto;
  height: 50px;
  width: 50px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid $blue;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}