<div class="modal-header">
    <h2 class="text-center"><span class="text-bold" translate="CONFIRM_HEADER"></span></h2>
</div>
<div class="modal-body">
    <h3 class="text-center"><span class="text-bold" translate="CONFIRM_MESSAGE"></span></h3>
</div>
<div class="modal-footer">
    <div class="center-block text-center btn-toolbar">
        <button type="submit" class="btn btn-primary" ng-click="confirmDialog.confirm();"><span class="glyphicon glyphicon-ok"></span> <span class="text-bold" translate="CONFIRM_YES"></span></button>
        <button type="submit" class="btn btn-primary" ng-click="confirmDialog.cancel();"><span class="glyphicon glyphicon-remove"></span> <span class="text-bold" translate="CONFIRM_NO"></span></button>
    </div>
</div>