<div class="modal-header">
    <strong class="accentuate" ng-bind="eventDetails.event | appTranslate: 'name'"></strong>
</div>
<div class="modal-body">
    <div ng-if="eventDetails.render" class="event-details-map-container">
        <ui-gmap-google-map center='eventDetails.map.center'
                            zoom='eventDetails.map.zoom'
                            options='eventDetails.mapOptions'>
            <ui-gmap-markers
                    models='eventDetails.markers'
                    idKey='id'
                    coords="'location'"
                    icon="'icon'"
                    fit="eventDetails.markerOptions.fit">
            </ui-gmap-markers>
            <gmap-directions
                    from="eventDetails.user.location"
                    to="eventDetails.event.location">
            </gmap-directions>
        </ui-gmap-google-map>
    </div>
    <br/>
    <div class="form-horizontal event-data">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_CATEGORY"></strong>
            </div>
            <div class="col-md-10">
                <p ng-bind="eventDetails.event.category | appTranslate: 'name'"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_RATING"></strong>
            </div>
            <div class="col-md-10">
                <p ng-bind="eventDetails.event.averageRating ? (eventDetails.event.averageRating | number : 1) + '/5' : ('EVENT_NO_RATING' | translate)"></p>
            </div>
        </div>
        <div class="form-group" ng-show="eventDetails.enableRating()">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_SET_RATING"></strong>
            </div>
            <div class="col-md-10">
                <rating ng-model="eventDetails.userRating.rating"
                        max="eventDetails.userRating.max"
                        readonly="eventDetails.userRating.readonly"
                        ng-change="eventDetails.rate(eventDetails.userRating.rating)"></rating>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p ng-bind="eventDetails.event.favoritedCount"></p>
            </div>
            <div class="col-md-10">
                <p><strong class="accentuate" translate="EVENT_FAVORITED_COUNT"></strong>
                    <button ng-show="eventDetails.enableFavoriteToggle()"
                            type="button"
                            class="btn btn-primary"
                            ng-click="eventDetails.toggleFavorite(eventDetails.event.id)">
                    <span ng-show="!eventDetails.favorited">
                        <span class="glyphicon glyphicon-ok-circle"></span> <span translate="EVENT_ADD_TO_FAVORITES"></span>
                    </span>
                    <span ng-show="eventDetails.favorited">
                        <span class="glyphicon glyphicon-remove-circle"></span> <span translate="EVENT_REMOVE_FROM_FAVORITES"></span>
                    </span>
                    </button>
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_STARTED"></strong>
            </div>
            <div class="col-md-10">
                <p ng-bind="eventDetails.event.startDate | date: app.DATE_FORMAT.format"></p>
            </div>
        </div>
        <div class="form-group" ng-show="eventDetails.event.endDate">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_ENDS"></strong>
            </div>
            <div class="col-md-10">
                <p ng-bind="eventDetails.event.endDate | date: app.DATE_FORMAT.format"></p>
            </div>
        </div>
        <div ng-show="eventDetails.event.timetable">
            <div class="form-group">
                <div class="col-md-2 control-label">
                    <strong class="accentuate" translate="EVENT_WORKING_HOURS"></strong>
                </div>
                <div class="col-md-10">
                    <p><span ng-bind="eventDetails.event.timetable.startTime"></span> - <span ng-bind="eventDetails.event.timetable.endTime"></span></p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 control-label">
                    <strong class="accentuate" translate="EVENT_WORKING_DAYS"></strong>
                </div>
                <div class="col-md-10">
                    <p><span ng-repeat="day in eventDetails.event.timetable.days"><span ng-bind="day.name | translate"></span><span ng-if="!$last">,</span> </span> </p>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="eventDetails.event.entryFee">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_ENTRY_FEE"></strong>
            </div>
            <div class="col-md-10">
                <p><span ng-bind="eventDetails.event.entryFee"></span> &euro;</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <strong class="accentuate" translate="EVENT_DESCRIPTION"></strong>
            </div>
            <div class="col-md-10">
                <p ng-bind="eventDetails.event | appTranslate: 'description'"></p>
            </div>
        </div>
    </div>

    <div class="btn-toolbar">
        <button class="btn btn-warning" type="button" ng-click="eventDetails.dismiss()">
            <span class="glyphicon glyphicon-arrow-left"></span> <span translate="EVENT_BACK"></span>
        </button>
    </div>

</div>