<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="accentuate" translate="ABOUT_TITLE"></h2>
            <p translate="ABOUT_DESCRIPTION"></p>
            <a class="btn btn-primary btn-lg" ng-click="app.getLocationAndRedirectToEvents()"><span translate="ABOUT_EVENTS"></span></a>
        </div>
    </div>
</section>