<!-- Organize Section -->
<section id="organize" class="content-section">
    <div class="organize-section">
        <div ng-if="!organizeEvent.sentFormData()">
            <div class="container text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="accentuate" translate="ORGANIZE_EVENT_TITLE"></h2>
                    <p translate="ORGANIZE_EVENT_DESCRIPTION"></p>
                    <div ng-if="!app.isAuthenticated()">
                        <p translate="ORGANIZE_EVENT_LOGIN_REQUIRED"></p>
                        <button type="button" class="btn btn-lg btn-primary" ng-click="app.openAuthModal()" translate="ORGANIZE_EVENT_LOGIN"></button>
                    </div>
                </div>
            </div>
            <div ng-if="app.isAuthenticated()">
                <div ng-if="organizeEvent.coordsAcquired" class="organize-event-map-container">
                    <ui-gmap-google-map center='organizeEvent.map.center'
                                        zoom='organizeEvent.map.zoom'
                                        options='organizeEvent.mapOptions'>
                        <ui-gmap-marker idKey="organizeEvent.map.marker.id"
                                        coords="organizeEvent.map.marker.location"
                                        options="organizeEvent.markerOptions" ></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
                <div ng-if="!organizeEvent.coordsAcquired" class="container text-center location-required-message-wrapper">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p translate="ORGANIZE_EVENT_LOCATION_REQUIRED"></p>
                        <button type="button" class="btn btn-primary" ng-click="organizeEvent.getLocationData()">
                            <span class="fa fa-map-marker"></span> <span translate="ORGANIZE_EVENT_GET_LOCATION"></span>
                        </button>
                    </div>
                </div>
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form novalidate name="organizeEvent.form">
                            <div class="form-group">
                                <label for="languages" class="accentuate" translate="ORGANIZE_EVENT_LANGUAGES"></label>
                                <div class="input-group">
                                    <select class="form-control"
                                            name="languages"
                                            id="languages"
                                            ng-options="language.name for language in filteredLanguages = (app.languages | filter: organizeEvent.languageFilter)"
                                            ng-model="organizeEvent.selectedLanguage"
                                            ng-disabled="filteredLanguages.length == 0">
                                        <option value="">{{ 'ORGANIZE_EVENT_LANGUAGE_PLACEHOLDER' | translate }}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button ng-disabled="filteredLanguages.length == 0 || !organizeEvent.selectedLanguage" type="button" class="btn btn-primary" ng-click="organizeEvent.addTranslation(organizeEvent.selectedLanguage)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            <span translate="ORGANIZE_EVENT_TRANSLATION_ADD"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="panel panel-primary" ng-show="organizeEvent.event.translations.length > 0">
                                <div class="panel-heading clickable" ng-click="organizeEvent.areTranslationsCollapsed = !organizeEvent.areTranslationsCollapsed">
                                    <h3 class="panel-title"><span translate="ORGANIZE_EVENT_TRANSLATIONS"></span></h3>
                                </div>
                                <div class="panel-body" collapse="organizeEvent.areTranslationsCollapsed">
                                    <ng-form name="translation_{{$index}}" ng-repeat="translation in organizeEvent.event.translations">
                                        <div class="form-group">
                                            <label class="control-label accentuate" translate="ORGANIZE_EVENT_TRANSLATION_LANGUAGE"></label>
                                            <p class="form-control-static" ng-bind="translation.language.name"></p>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': charityEdit.form.organizer.$invalid }">
                                            <label for="name" class="accentuate" translate="ORGANIZE_EVENT_TRANSLATION_NAME"></label>
                                            <input type="text" class="form-control" id="name" name="name" ng-model="translation.name" required maxlength="255" />
                                            <div ng-messages="translation_{{$index}}.name.$error" ng-messages-include="error-messages"></div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error': charityEdit.form.organizer.$invalid }">
                                            <label for="description" class="accentuate" translate="ORGANIZE_EVENT_TRANSLATION_DESCRIPTION"></label>
                                            <textarea class="form-control" name="description" id="description" cols="30" rows="10" ng-model="translation.description" required maxlength="5120"></textarea>
                                            <div ng-messages="translation_{{$index}}.description.$error" ng-messages-include="error-messages"></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" ng-click="organizeEvent.removeTranslation(translation)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                                <span translate="ORGANIZE_EVENT_TRANSLATION_REMOVE"></span>
                                            </button>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="accentuate" for="startDate" translate="ORGANIZE_EVENT_START_DATE"></label>
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           id="startDate"
                                           name="startDate"
                                           datepicker-popup="dd.MM.yyyy"
                                           datepicker-options="app.datepickerOptions"
                                           is-open="organizeEvent.startDateFocus"
                                           ng-focus="organizeEvent.startDateFocus=true"
                                           ng-model="organizeEvent.event.startDate"
                                           required />
                                    <label for="startDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                                </div>
                                <div ng-messages="organizeEvent.form.startDate.$error" ng-messages-include="error-messages"></div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': charityEdit.form.organizer.$invalid }">
                                <label class="accentuate" for="endDate" translate="ORGANIZE_EVENT_END_DATE"></label>
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           id="endDate"
                                           name="endDate"
                                           datepicker-popup="dd.MM.yyyy"
                                           datepicker-options="app.datepickerOptions"
                                           is-open="organizeEvent.endDateFocus"
                                           ng-focus="organizeEvent.endDateFocus=true"
                                           ng-model="organizeEvent.event.endDate"
                                           />
                                    <label for="endDate" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></label>
                                </div>
                                <div ng-messages="organizeEvent.form.endDate.$error" ng-messages-include="error-messages"></div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': charityEdit.form.organizer.$invalid }">
                                <label for="category" class="accentuate" translate="ORGANIZE_EVENT_CATEGORY"></label>
                                <select class="form-control"
                                        id="category"
                                        name="category"
                                        ng-model="organizeEvent.event.category"
                                        ng-options="category.name as (category | appTranslate:'name') for category in ::organizeEvent.categories" >
                                    <option value="">{{'ORGANIZE_EVENT_CATEGORY_PLACEHOLDER' | translate}}</option>
                                </select>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading clickable" ng-click="organizeEvent.toggleTimepickers()">
                                    <h3 class="panel-title"><span translate="ORGANIZE_EVENT_TIMETABLE"></span></h3>
                                </div>
                                <div class="panel-body" collapse="!organizeEvent.enableTimepickers">
                                    <div class="form-group" ng-class="{ 'has-error': organizeEvent.form.startTime.$invalid || organizeEvent.form.endTime.$invalid }">
                                        <label class="accentuate" for="startTime" translate="ORGANIZE_EVENT_TIME_FRAME"></label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <timepicker id="startTime"
                                                            name="startTime"
                                                            ng-model="organizeEvent.timetable.startTime"
                                                            show-meridian="false"></timepicker>
                                            </div>
                                            <div class="col-md-1 time-divider-wrapper">
                                                <p class="time-divider">-</p>
                                            </div>
                                            <div class="col-md-2">
                                                <timepicker id="endTime"
                                                            name="endTime"
                                                            ng-model="organizeEvent.timetable.endTime"
                                                            show-meridian="false"
                                                            min="organizeEvent.timetable.startTime"></timepicker>
                                            </div>
                                        </div>

                                        <div ng-messages="organizeEvent.form.startTime.$error" ng-messages-include="error-messages"></div>
                                        <div ng-messages="organizeEvent.form.endTime.$error" ng-messages-include="error-messages"></div>
                                    </div>
                                    <div class="form-group">
                                        <strong class="accentuate" translate="ORGANIZE_EVENT_DAYS"></strong>
                                        <div class="days-container">
                                            <div ng-repeat="day in organizeEvent.daysOfWeek" class="day-cb-wrapper">
                                                <input type="checkbox"
                                                       class="hidden-checkbox"
                                                       name="{{day.name}}"
                                                       id="{{day.name}}"/>
                                                <label class="checkbox-label"
                                                       for="{{day.name}}"
                                                       ng-click="organizeEvent.dayToggle(day)"
                                                       ng-bind="day.name | translate"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-danger" ng-click="organizeEvent.enableTimepickers()">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            <span translate="ORGANIZE_EVENT_TIMETABLE_REMOVE"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': charityEdit.form.organizer.$invalid }">
                                <label for="entryFee" class="accentuate" translate="ORGANIZE_EVENT_ENTRY_FEE"></label>
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control"
                                           id="entryFee"
                                           name="entryFee"
                                           ng-model="organizeEvent.event.entryFee" required maxlength="255" />
                                    <label for="entryFee" class="input-group-addon"><span class="glyphicon glyphicon-eur"></span></label>
                                </div>

                            </div>
                            <div class="text-center">
                                <button ng-disabled="!organizeEvent.hasLocation() || !organizeEvent.hasTranslations() || organizeEvent.form.$invalid"
                                        type="submit"
                                        class="btn btn-success"
                                        ng-click="organizeEvent.submit()">
                                    <span class="glyphicon glyphicon-ok"></span> <span translate="ORGANIZE_EVENT_SAVE"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="organizeEvent.sentFormData()">
            <div class="container text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="accentuate" translate="ORGANIZE_EVENT_DONE"></h2>
                    <p translate="ORGANIZE_EVENT_THANKS"></p>
                </div>
            </div>
        </div>
    </div>
</section>